<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>fms</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>myservlet</servlet-name>
  	<servlet-class>servlet.myservlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Registe</servlet-name>
    <servlet-class>servlet.Registe</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>index1</servlet-name>
    <servlet-class>servlet.index1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>formdata</servlet-name>
    <servlet-class>servlet.formdata</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>recharge</servlet-name>
    <servlet-class>servlet.recharge</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>managerdata</servlet-name>
    <servlet-class>servlet.managerdata</servlet-class>
  </servlet>




  
  <servlet-mapping>
  	<servlet-name>myservlet</servlet-name>
  	<url-pattern>/servlet/myservlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Registe</servlet-name>
    <url-pattern>/servlet/Registe</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>index1</servlet-name>
    <url-pattern>/servlet/index1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>formdata</servlet-name>
    <url-pattern>/servlet/formdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recharge</servlet-name>
    <url-pattern>/servlet/recharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerdata</servlet-name>
    <url-pattern>/servlet/managerdata</url-pattern>
  </servlet-mapping>

  
<filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>com.wust5.filter.MyFilter</filter-class>
  	
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>

  	<init-param>
  		<param-name>loginpage</param-name>
  		<param-value>login.html</param-value>
    </init-param>
    
  </filter>
  
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  
</web-app>